In [1]:
import numpy as np
import pandas as pd
import csv as csv
from IPython.display import display
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline

from sklearn import datasets, svm, metrics

In [2]:
in_file = 'train.csv'
locations = pd.read_csv(in_file)

In [3]:
locations_rounded = locations.round({'x': 1, 'y': 1})
locations_sort = locations_rounded.sort_values(['x' , 'y'])
#locations_d = locations_rounded[(locations_rounded['x'] == 1.1) & (locations_rounded['y'] == 1.1)]

In [15]:
locations_sort_slice = locations_sort[(locations_sort['x'] >= 1.0) & (locations_sort['x'] <= 2.0) & \
                                     (locations_sort['y'] >= 1.0) & (locations_sort['y'] <= 2.0)]

locations_sort_slice.loc[:, 'minute'] = (locations_sort_slice['time']) % 1440
locations_sort_slice.loc[:, 'hour'] = ((locations_sort_slice['time']) % 1440)/60
locations_sort_slice.loc[:, 'weekday'] = ((locations_sort_slice['time']) /(60*24)) % 7 
locations_sort_slice.loc[:, 'month'] = ((locations_sort_slice['time']) /(60*24*30)) % 12
locations_sort_slice.loc[:, 'year'] = ((locations_sort_slice['time']) /(60*24*365))
locations_sort_slice.loc[:, 'day'] = ((locations_sort_slice['time'])/(60*24)) % 365

#locations_sort_slice = locations_sort_slice[['row_id', 'x', 'y', 'accuracy', 'time', 'greater_than_800', 'place_id']]
locations_sort_slice = locations_sort_slice[['row_id', 'x', 'y', 'hour', 'weekday', 'month', 'year', 'place_id']]
locations_sort_slice = locations_sort_slice.round({'hour': 0, 'weekday': 0, 'month': 0, 'year': 0,})
#locations_sort_slice = locations_sort_slice.drop('time', 1)
locations_sort_slice

            row_id  x  y  hour  weekday  month  year    place_id
2636          2636  1  1    16        4      6     1  5152560199
3164          3164  1  1    18        3     12     1  5152560199
6245          6245  1  1     5        3      4     0  2013736336
8819          8819  1  1    18        3      6     1  2924413804
8909          8909  1  1     7        0      5     0  3546958533
18156        18156  1  1     6        1      2     1  2398651098
25663        25663  1  1     3        3      5     1  7995458948
29380        29380  1  1     5        3      5     0  3303345536
32253        32253  1  1    12        7      8     1  1195596952
36022        36022  1  1    19        3      3     1  9787013492
44797        44797  1  1    18        3      6     1  5152560199
54150        54150  1  1     6        4      7     1  8927934999
56444        56444  1  1    18        7      4     1  5152560199
62957        62957  1  1     2        4      2     1  3787356728
70845        70845  1  1    16        6      4     1  4256150225
73838        73838  1  1    16        1      1     0  4256150225
82577        82577  1  1    12        7      8     1  1195596952
89628        89628  1  1     8        2     12     1  7756417653
91542        91542  1  1    13        2      0     0  9787013492
97588        97588  1  1     7        2      1     1  3243409743
99494        99494  1  1     2        0      4     1  3253206242
108027      108027  1  1    10        4      3     0  2013736336
108330      108330  1  1     2        2      3     0  9290415513
114663      114663  1  1    19        1      4     0  5152560199
115151      115151  1  1     1        1      7     1  8509950248
118835      118835  1  1    14        4      4     1  1366391988
118907      118907  1  1     4        6      5     0  7995458948
122659      122659  1  1    20        6      0     1  8927934999
130545      130545  1  1    19        7      4     1  8134338202
130857      130857  1  1    13        4      1     0  9787013492
...            ... .. ..   ...      ...    ...   ...         ...
28692774  28692774  2  2    16        4      3     1  7856253825
28697932  28697932  2  2     5        1      7     1  9447943419
28735212  28735212  2  2    14        4      2     0  5014521982
28735228  28735228  2  2    13        5      5     0  7172699616
28756839  28756839  2  2    15        2      8     1  8457214618
28764157  28764157  2  2    14        1      7     1  5014521982
28786092  28786092  2  2    18        2      8     1  8875351852
28797257  28797257  2  2    16        6      4     1  5014521982
28823930  28823930  2  2     3        0     12     1  7401090835
28847206  28847206  2  2     7        0     11     1  5014521982
28862842  28862842  2  2    15        2      8     1  7248270800
28867250  28867250  2  2     1        5      6     1  1648494054
28879965  28879965  2  2     8        0     10     1  3414641873
28924037  28924037  2  2    14        7      1     1  5014521982
28931692  28931692  2  2    10        0      8     1  5014521982
28934101  28934101  2  2     9        5      9     1  7172699616
28954006  28954006  2  2    22        3      5     0  2690099194
28990907  28990907  2  2    17        3     12     1  7248270800
28991935  28991935  2  2    12        4      3     1  7248270800
29013498  29013498  2  2    13        2      7     1  7248270800
29023522  29023522  2  2    19        7      8     1  1412788381
29045302  29045302  2  2     8        6      0     0  5014521982
29047106  29047106  2  2    15        2      3     0  7248270800
29048123  29048123  2  2    16        6      2     0  8551426173
29051092  29051092  2  2     6        6      2     1  4692082315
29066600  29066600  2  2    16        3      1     0  7248270800
29081478  29081478  2  2    16        1     11     1  5014521982
29094007  29094007  2  2     7        4      2     0  1299025140
29103625  29103625  2  2    12        2      6     1  7248270800
29105031  29105031  2  2    15        5      4     0  5014521982

[347534 rows x 8 columns]

In [16]:
from sklearn.cross_validation import train_test_split

locations_train, locations_test = train_test_split(locations_sort_slice, test_size = 0.3)

n_samples = locations_sort_slice.shape[0]
feature_cols = list(locations_train.columns[0:7])  
target_col = locations_train.columns[-1]

X_train = locations_train[feature_cols]  # feature values 
y_train = locations_train[target_col]  # corresponding targets/labels
X_test = locations_test[feature_cols]  
y_test = locations_test[target_col] 
X_train

            row_id    x    y  hour  weekday  month  year
10312552  10312552  1.0  2.0    12        5      6     0
17372944  17372944  1.7  1.7    20        2     11     1
548490      548490  2.0  1.9     2        0      5     1
15413303  15413303  1.4  1.0     0        5      7     1
23229949  23229949  2.0  1.4     3        0      6     1
24165847  24165847  1.1  1.7    18        4     12     1
1472416    1472416  1.5  1.3     1        3      4     0
7742650    7742650  1.7  1.0    22        5      6     0
24893687  24893687  1.8  1.7     9        2      5     0
6931423    6931423  1.9  1.8    17        1      2     1
1322361    1322361  1.3  1.0     9        2      3     1
15929597  15929597  1.3  1.4     3        6     10     1
6671258    6671258  1.8  1.8     1        0      0     0
22109987  22109987  1.3  1.3    23        5      9     1
4614435    4614435  1.1  1.8    15        2      4     1
14061649  14061649  2.0  2.0     4        5      9     1
16291247  16291247  1.6  1.9    16        7      2     1
12497988  12497988  2.0  1.6    14        5      3     1
3181493    3181493  1.2  1.2    23        3      1     1
13046447  13046447  1.0  1.0    14        5      8     1
14890481  14890481  1.3  1.8     7        2      8     1
668621      668621  1.3  1.9     9        0      2     1
18448045  18448045  1.6  1.0    19        5      2     1
15548727  15548727  1.4  2.0    20        7      3     0
27009485  27009485  2.0  1.0     8        0      2     1
7654312    7654312  1.8  1.8     5        1      6     1
9178515    9178515  1.2  1.9    24        7      5     1
12046829  12046829  1.9  2.0    17        3     11     1
12137748  12137748  2.0  1.2    23        1      2     0
24736974  24736974  1.3  1.2     2        3     11     1
...            ...  ...  ...   ...      ...    ...   ...
11463364  11463364  1.5  1.7    10        5     11     1
18520900  18520900  1.6  1.3     6        0      4     1
18403743  18403743  1.3  1.5    22        1      6     1
13901330  13901330  1.9  1.4    18        3      2     0
2421095    2421095  1.3  1.0     3        6      5     1
24428947  24428947  1.3  1.8    17        4      4     0
6769574    6769574  1.8  1.4     1        0      6     1
17329102  17329102  1.8  1.1     2        6      5     1
14035268  14035268  1.1  1.0    15        1      4     0
2850761    2850761  1.8  1.9    15        6     11     1
23640462  23640462  1.9  1.0     3        3      4     1
24723774  24723774  1.7  1.8     9        3      6     1
16207147  16207147  1.9  1.5    10        2     10     1
19096417  19096417  1.9  2.0    13        5     10     1
3823274    3823274  1.8  1.0     1        1      8     1
12372117  12372117  1.7  1.8    24        3      6     1
12693020  12693020  1.1  1.9    22        4      2     0
19552423  19552423  1.1  2.0    16        5     12     1
16807416  16807416  1.7  1.5    10        1      8     1
27290735  27290735  2.0  1.4    23        2     10     1
3489933    3489933  1.1  1.6     4        1      4     0
25151747  25151747  1.4  1.1     9        2      5     0
24427235  24427235  1.2  1.7    10        5      6     1
4393238    4393238  1.3  1.7    21        1      4     1
10449369  10449369  1.1  1.2    15        4      9     1
12364211  12364211  1.9  1.1    23        2      1     0
10024840  10024840  1.8  1.7     3        3      3     0
9095286    9095286  1.0  1.1    13        3     11     1
6798712    6798712  1.8  1.5    23        4      8     1
18767926  18767926  1.0  1.2     3        6     10     1

[243273 rows x 7 columns]

In [7]:
#locations_c = locations_train.round({'x': 1, 'y': 1})
#locations_d = locations_c[(locations_c['x'] == 1.1) & (locations_c['y'] == 1.1)]
#locations_time = locations_sort_slice['time'] % 1440
#locations_time
#locations_d.loc[(locations_d['time'] > 0), 'time'] = locations_d2
locations_sort_slice.groupby('place_id').count()
#test = locations_sort_slice[(locations_sort_slice['place_id'] == 1673534850)]
#locations_d.sort_values(['time'])
#test.groupby('time').count()
#test[(test['time'] < 800)]
#test.loc[:, 'greater_than_800'] = np.where(test['time'] > 800, 1, 0)
#test_count = test.groupby('greater_than_800').count()
#test_count[['row_id']].plot(kind='bar')

            row_id    x    y  hour  weekday  month  year
place_id
1000213704       4    4    4     4        4      4     4
1000842315       5    5    5     5        5      5     5
1003598119      62   62   62    62       62     62    62
1003835757      98   98   98    98       98     98    98
1005236037       2    2    2     2        2      2     2
1006316884     768  768  768   768      768    768   768
1008473838       1    1    1     1        1      1     1
1009014488       2    2    2     2        2      2     2
1010803518       1    1    1     1        1      1     1
1012165853       1    1    1     1        1      1     1
1015748325     151  151  151   151      151    151   151
1015779478       4    4    4     4        4      4     4
1017182103       4    4    4     4        4      4     4
1019499825       1    1    1     1        1      1     1
1020629222       1    1    1     1        1      1     1
1022265261      23   23   23    23       23     23    23
1022722022       1    1    1     1        1      1     1
1023098207       1    1    1     1        1      1     1
1023599026      56   56   56    56       56     56    56
1026786395       1    1    1     1        1      1     1
1028119817      19   19   19    19       19     19    19
1030142991      15   15   15    15       15     15    15
1031277804       1    1    1     1        1      1     1
1032776680       6    6    6     6        6      6     6
1033901110       2    2    2     2        2      2     2
1034016984      62   62   62    62       62     62    62
1035458196     165  165  165   165      165    165   165
1038418849       2    2    2     2        2      2     2
1038670800       1    1    1     1        1      1     1
1039740993     199  199  199   199      199    199   199
...            ...  ...  ...   ...      ...    ...   ...
9958620956     712  712  712   712      712    712   712
9959837744       1    1    1     1        1      1     1
9960426740      11   11   11    11       11     11    11
9969472984       1    1    1     1        1      1     1
9970646145      81   81   81    81       81     81    81
9970792354       2    2    2     2        2      2     2
9971788655     177  177  177   177      177    177   177
9973067176      11   11   11    11       11     11    11
9973234007       2    2    2     2        2      2     2
9974243122      77   77   77    77       77     77    77
9977347526      74   74   74    74       74     74    74
9977582783      12   12   12    12       12     12    12
9978531067       1    1    1     1        1      1     1
9979086487       6    6    6     6        6      6     6
9980468082       3    3    3     3        3      3     3
9980625005       4    4    4     4        4      4     4
9981486304       2    2    2     2        2      2     2
9982583673      16   16   16    16       16     16    16
9982950008       5    5    5     5        5      5     5
9983101154       1    1    1     1        1      1     1
9985043146       1    1    1     1        1      1     1
9985387523       2    2    2     2        2      2     2
9988088517      71   71   71    71       71     71    71
9989340415       1    1    1     1        1      1     1
9990433122       2    2    2     2        2      2     2
9991654458       3    3    3     3        3      3     3
9991763408       1    1    1     1        1      1     1
9994257798      34   34   34    34       34     34    34
9994992694       1    1    1     1        1      1     1
9999855083       8    8    8     8        8      8     8

[5574 rows x 7 columns]

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [18]:
clf = DecisionTreeClassifier(min_samples_split=100)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=100, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [19]:
pred = clf.predict(X_test)

In [20]:
acc = accuracy_score(pred, y_test)
print acc

0.313866162803